  <footer>
  {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  <hr/>
  {{ replace . "{Year}" now.Year | markdownify}}
  {{ end }}

  <script src="https://giscus.app/client.js"
    data-repo="vineelkovvuri/vineelkovvuri.github.io"
    data-repo-id="R_kgDOLIbzLw"
    data-category="General"
    data-category-id="DIC_kwDOLIbzL84CwjtF"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
  </footer>
  </body>
</html>
