{{ partial "header.html" . }}

{{ .Content }}

<h1>Windows Setup</h1>
<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
    {{ if and (eq .Section "bookmarks") (intersect .Params.tags (slice "WindowsSetup") | len) }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>

<h1>Linux Setup</h1>
<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
    {{ if and (eq .Section "bookmarks") (intersect .Params.tags (slice "LinuxSetup") | len) }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>

<h1>Others</h1>
<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
    {{ if and (eq .Section "bookmarks") (intersect .Params.tags (slice "Others") | len) }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>
{{ partial "footer.html" . }}
