/* body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
} */
/* code {
  font-family: Monaco, monospace;
  font-size: 85%;
} */

body {
  font-family: fira sans ot, fira sans, trebuchet ms, roboto, sans-serif;
}


code {
    background: #f1f1f1;
    border-radius: 3px;
    font-family: sfmono-regular,consolas,liberation mono,menlo,monospace
}
/* .date {
  font-family: monospace;
} */
