{{/* This page is for rendering home page */}}

{{ partial "header.html" . }}

{{ .Content }}

<hr>

<h1>Blog</h1>
<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range first 10 (where $pages "Section" "!=" "") }}
    {{if eq .Section "blog"}}
    <li>
      <span class="date">{{ .Date.Format "2006/01/02" }}</span>
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  {{ end }}
  <li>
    <a href="/blog">more...</a>
  </li>
</ul>

<!-- <hr>

<h1>Vlog</h1>

<ul>
    {{ range first 10 $.Site.Data.youtube.videos }}
    <li>
      <span class="date">{{ .date }}</span>
      <a href="https://youtube.com/watch?v={{ .id }}">{{ .title | markdownify }}</a>
    </li>
    {{ end }}
    <li>
      <a href="/vlog">more...</a>
    </li>
</ul> -->
{{ partial "footer.html" . }}
